@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Kütüphane Projesi </title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand navbar-dark bg-danger">
            <h1 class="text-light">Kütüphane Projesi</h1>
            <h4>
                <a class="nav-link" href="https://www.youtube.com/watch?v=eE8C1Nq7bkY">
                     Youtube'da İzle 
                </a>
            </h4>
        </nav>
    <br />
    </div>
    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>

</body>
</html>
